<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>E-Approval</title>
    <link type="text/css" rel="stylesheet" href="/cocotask/webjars/bootstrap/3.3.5/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/cocotask/static/css/layout.css"/>
</head>
<body>
    <div id="footer" th:fragment="footer">
        <footer class="container-fluid">
            <p>Welcome to Cocotask</p>
        </footer>
    </div>
</body>
</html>
