<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>E-Approval</title>
    <!-- css -->
    <link type="text/css" rel="stylesheet" href="/cocotask/webjars/bootstrap/3.3.5/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/cocotask/static/css/layout.css"/>
    <style type="text/css">
        .text-center {
            text-align: center;
        }
    </style>

    <!-- javascript library -->
    <script type="text/javascript" src="/cocotask/webjars/jquery/2.1.4/jquery.min.js"/>
    <script type="text/javascript" src="/cocotask/webjars/bootstrap/3.3.5/js/bootstrap.min.js"/>
    <script type="text/javascript" src="/cocotask/static/js/editor/ckeditor/ckeditor.js"/>

    <!-- javascript module -->
    <script type="text/javascript" src="/cocotask/static/js/eapproval/eappEditor.js"/>
    <script type="text/javascript" src="/cocotask/static/js/eapproval/eappPaperCreate.js"/>
    <script type="text/javascript" src="/cocotask/static/js/eapproval/eappApprove.js"/>

    <title>CocoTask-Paper</title>
</head>
<body>
<div class="container-fluid">
    <div class="row content">
        <div th:replace="eapproval/eappLeft :: eappLeft"></div>

        <div id="eappContents" class="col-sm-9">
            <h4>결재문서</h4>
            <form id="paperForm" name="paperForm" action="#" th:object="${paperDTO}"
                  method="post" role="form" class="bs-example bs-example-form">
                <div class="container">
                    <input type="hidden" id="approveStatus" th:field="${eappApproveDTO.approveStatus}"/>
                    <input type="hidden" id="paperUid" th:field="*{paperUid}"/>
                    <input type="hidden" id="moduleName" th:value="${moduleName}"/>

                    <div class="form-group btn-group" role="group">
                        <input type="button" class="btn btn-info btn-sm" value="결재" data-toggle="modal" data-target="#eappApproveModal"
                                id="eappApproveModalBtn" name="eappApproveModalBtn"/>
                    </div>

                    <!-- Modal -->
                    <div id="eappApproveModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">결재처리</h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        결재 처리 방법을 선택하여 주십시오.
                                    </p>
                                </div>
                                <div class="modal-footer text-center">
                                    <button type="button" class="btn btn-primary" onclick="doApprove('done');">결재</button>
                                    <button type="button" class="btn btn-default" onclick="doApprove('hold');">보류</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group input-group input-group-sm col-lg-3">
                        <span class="input-group-addon">제목</span>
                        <input type="text" th:field="*{paperSubject}" class="form-control" readonly="readonly"/>
                    </div>

                   <!-- <div class="form-group input-group input-group-sm col-lg-3">
                        <span class="input-group-addon">내용</span>
                        <input type="text" th:field="*{paperContent}" class="form-control" readonly="readonly"/>
                    </div>-->

                    <div class="form-group input-group input-group-sm col-sm-3">
                        <span class="input-group-addon">결재선</span>
                        <div id="lineList" name="lineList" class="input-group" th:each="lineDTO : ${paperDTO.eappLineDTOList}">
                            <input type="text" class="form-control" th:value="${lineDTO.lineUserName}" readonly="readonly"/>
                            <input type="hidden" th:id="approveStatus_+${lineDTOStat.index}" th:value="${lineDTO.approveStatus}"/>
                            <input type="hidden" th:id="lineOrder_+${lineDTOStat.index}" th:value="${lineDTO.lineOrder}"/>
                            <span th:id="eappLineType_+${lineDTOStat.index}" class="input-group-addon"></span>
                        </div>
                    </div>

                    <div>
                        <textarea th:field="*{paperContent}" name="editor1" id="editor1" rows="5" cols="40" class="hidden">

                        </textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
    (function() {
        fnPaperFormInit();
    })();
</script>
</body>
</html>