<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/cocotask/webjars/bootstrap/3.3.5/css/bootstrap.css"/>
    <script type="text/javascript" src="/cocotask/webjars/jquery/2.1.4/jquery.min.js"/>
    <script type="text/javascript" src="/cocotask/webjars/bootstrap/3.3.5/js/bootstrap.min.js"/>
    <title>ResultMessage</title>
    <script>
        var goToCreatePaper = function() {
            document.location.href = "/cocotask/eapp/paper/createForm";
        }
    </script>
</head>
<body>
<form>
    <div class="container-fluid">
        <div class="row content">
            <div th:replace="eapproval/eappLeft :: eappLeft"></div>

            <div id="eappContents" class="col-sm-9">
                <h3>
                    <span th:text="${message}">Test</span>
                </h3>

                <!-- thymeleaf의 flagment 로 구현 -->
                <input type="button" value="결재문서 작성하기" class="btn btn-default" onclick="goToCreatePaper()"/>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</form>
</body>
</html>